@font-face {
    font-family: 'geomanistweb';
    src: url('/fonts/geomanist-light-webfont.eot');
    src: url('/fonts/geomanist-light-webfont.woff') format('woff'), url('/fonts/geomanist-light-webfont.woff2') format('woff2'), url('/fonts/geomanist-light-webfont.ttf') format('truetype'), url('/fonts/geomanist-light-webfont.svg#geomanistweb') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistweb';
    src: url('/fonts/geomanist-regular-webfont.eot');
    src: url('/fonts/geomanist-regular-webfont.woff') format('woff'), url('/fonts/geomanist-regular-webfont.woff2') format('woff2'), url('/fonts/geomanist-regular-webfont.ttf') format('truetype'), url('/fonts/geomanist-regular-webfont.svg#geomanistweb') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'geomanistweb';
    src: url('/fonts/geomanist-medium-webfont.eot');
    src: url('/fonts/geomanist-medium-webfont.woff') format('woff'), url('/fonts/geomanist-medium-webfont.woff2') format('woff2'), url('/fonts/geomanist-medium-webfont.ttf') format('truetype'), url('/fonts/geomanist-medium-webfont.svg#geomanistweb') format('svg');
    font-weight: 600;
    font-style: normal;
}
