.settings {
    @apply hidden;
    @apply absolute pin z-10;
    @apply overflow-scroll;
    @apply bg-background;
    @apply border-t-2 border-line;
    @apply p-4;
    @apply text-text;

    @screen md {
        @apply border-t-0 border-l-2;
    }
}

.settings:target {
    @apply block;
}

.settings-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: 2rem;
    grid-gap: 1rem;
    align-items: center;
}

.settings-grid label {
    @apply whitespace-no-wrap;
}

.settings-grid input {
    @apply bg-gutter;
    @apply border-2 border-line;
    @apply w-16;
    @apply p-1;
}

.settings-grid input:focus {
    @apply border-accent;
    @apply outline-none;
}